@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        This application is a simple character manager for Dungeons & Dragons 5th Edition.
    </p>
    <p>
        You must
        <a asp-area="Identity" asp-page="/Account/Register">register</a>
        and
        <a asp-area="Identity" asp-page="/Account/Login">log in</a>
        to create
        <a asp-controller="Characters" asp-action="Index">characters</a>.
    </p>

    <br />
    <img src="~/images/d20_400px.png" alt="twenty-sided die graphic" />
    <br /><br /><br />

    <p><i>
        The GitHub repository is located at: <a href="https://github.com/naberkley/DnDCharacterStorageApp">https://github.com/naberkley/DnDCharacterStorageApp</a>
    </p></i>
    <p><i></i>
        Built by <a href="mailto: me@noahberkley.com">Noah Berkley</a> using ASP.NET Core, Entity Framework Core, Identity Framework, and Azure SQL Database--hosted on Azure.
    </p></i>
</div>
