@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to the D&D Character Manager!</p>
    <p>Store your D&D 5e characters here</p>
    <p>Use the navigation bar to get started.</p>
</div>
