@{
    ViewData["Title"] = "D&D 5e Resources";
}
<h1>@ViewData["Title"]</h1>

<br />
<div class="paper-square">
    <p>Some helpful links for learning:</p>
    <ul>
        <li><a href="https://www.dndbeyond.com/" target="_blank">D&D Beyond</a></li>
        <li><a href="https://www.dndbeyond.com/sources/basic-rules" target="_blank">D&D 5e Basic Rules</a></li>
        <li><a href="http://dnd5e.wikidot.com/" target="_blank">5e Wikidot</a></li>
        <li><a href="https://www.youtube.com/watch?v=hD-LWHhiseE&list=PL1tiwbzkOjQyr6-gqJ8r29j_rJkR49uDN" target="_blank">'Handbooker Helper' tutorial videos by Critical Role</a></li>
        <li><a href="https://roll20.net/" target="_blank">Roll20, an online service for hosting and playing D&D</a></li>
    </ul>
</div>