:root {
    --primary-color: #44a6ab;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #000000;
    text-transform: initial;
    max-width: 1920px;
    margin: 0 auto;
    overflow-x: hidden;
    background-color: white;
}

a, a:hover, a:active, a:focus {
    color: #258cfb;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: #343a3f;
    font-size: 18px;
    font-weight: 500;
}

p {
    margin: 0;
    color: #767f86;
    font-size: 14px;
    line-height: 1.8;
    text-transform: initial;
}

.form-group {
    min-height: 80px; /* Keep enough room for validation message popups to not shift our layout */
}

button {
    background: transparent;
    border: 0;
    font-size: 12px;
}

.card {
    margin: 3px;
    border: 2px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

    .card:hover {
        transform: scale(1.03);
        transition: transform .2s;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        border: 2px outset #007bff;
        border-radius: .25rem;
    }

    .cardusername {
        color: #bababa;
    }

.btn {
    margin-top: 3px;
    margin-right: 0px;
    margin-bottom: 3px;
    margin-left: 0px;
}

.btn-primary {
    background-color: var(--primary-color); /* This sets the background color */
    color: #FFF; /* This sets the text color */
    border-color: var(--primary-color); /* border color same as background for padding purposes */
}

        .btn-primary:hover {
            background-color: #60c8c7; /* This changes the background color when you hover over the button */
            color: white; /* This changes the text color when you hover over the button */
        }

.nav-pills .nav-link {
    /* background-color: darkgrey; */
    /* color: #FFF; */ /* text color */
    text-decoration: underline;
}

    .nav-pills .nav-link.active {
        background-color: #bae4e6; /* active background color */
        color: blue; /* active text color */
    }

.nav-item {

}

/* style for toggle switch buttons */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-right: 10px;
}

.switch-checkbox {
    display: none;
}

.switch-label {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px;
}

    .switch-label:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 2px;
        bottom: 2px;
        background-color: white;
        transition: .4s;
        border-radius: 50%;
    }

.switch-checkbox:checked + .switch-label {
    background-color: var(--primary-color);
}

    .switch-checkbox:checked + .switch-label:before {
        transform: translateX(20px);
    }