@model DnDCharacterStorageApp.Models.Character

@{
    ViewData["Title"] = "Create";
    ViewBag.Action = "Create";
}

<h1>Create Character</h1>
<br />

<div class="row">
    <div class="col-sm-12 col-md-8">
        <form asp-action="@ViewBag.Action">
            <partial name="_CharacterForm" model="Model" />

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
