@model DnDCharacterStorageApp.Models.Character

@{
    ViewData["Title"] = "Details";
    ViewBag.Action = "Details";
}

<h1>Character Details</h1>
<br />

<div class="row">
    <div class="col-sm-12 col-md-10">
        <form asp-action="@ViewBag.Action">
            <partial name="_CharacterForm" model="Model" />
        </form>
    </div>
</div>

<div>
@if (Model.CreatedById == ViewData["UserId"]?.ToString())
{
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Delete" asp-route-id="@Model?.Id" class="btn btn-danger">Delete</a>
}
<a asp-action="Index" class="btn btn-secondary">Back</a>
</div>