@model DnDCharacterStorageApp.Models.Character

@{
    ViewData["Title"] = "Edit";
    ViewBag.Action = "Edit";
}

<h1>Edit Character</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="@ViewBag.Action" method="post">
            <partial name="_CharacterForm" model="Model" />

            @Html.HiddenFor(model => model.CreatedById)

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
